<div class="container">
    <form [formGroup]="changePasswordForm" (ngSubmit)="submitNewPassword()">

        <div class="form-group">
            <label for="newPassword">Current Password</label>
            <input type="password" formControlName="currentPassword" class="form-control" [ngClass]="((submitted && f.currentPassword.errors)|| this.wrongPassword) ? 'error-in-this':null" placeholder="Current Password" />
            <div class="row">
                <div class="col-12 text-right">
                    <em [ngStyle]="{'opacity':submitted && f.currentPassword.errors?.required  ? '1':'0' }">This field is required</em>
                    <br>
                    <em [ngStyle]="{'opacity':this.wrongPassword ? '1':'0' }">Sorry, wrong password</em>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" formControlName="newPassword" class="form-control" [ngClass]="(submitted && f.newPassword.errors) ? 'error-in-this':null" placeholder="New Password" />
            <div class="row">
                <div class="col-12 text-right">
                    <em [ngStyle]="{'opacity':(submitted && f.newPassword.errors?.minlength) ? '1':'0' }">Password should be at least 8 characters long</em>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Repeat New Password</label>
            <input type="password" formControlName="confirmNewPassword" class="form-control" [ngClass]="(submitted && f.confirmNewPassword.errors?.mustMatch) ? 'error-in-this':null" placeholder="Confirm New Password" />
            <div class="row">
                <div class="col-12 text-right">
                    <em [ngStyle]="{'opacity':(submitted && f.confirmNewPassword.errors?.mustMatch) ? '1':'0' }">The passwords don't match</em>
                </div>
            </div>
        </div>

        <div class="form-group text-right">
            <button class="btn btn-secondary">Cancel</button>
            <button class="btn btn-primary" type="submit">Set New Password</button>
        </div>
    </form>
</div>