<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <a class="btn btn-secondary" [routerLink]="['stats']"><span><i class="fa fa-file" aria-hidden="true"></i></span> &nbsp;View report</a>
            <button class="btn btn-primary" (click)="openModal(addModalForm)"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add moderator</button>
        </div>
    </div>
    <hr>
    <div class="content table-list">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <ngx-spinner [fullScreen]="false" bdOpacity="0.9" bdColor="#929292b5" size="large" color="#fff" type="ball-beat"></ngx-spinner>

                    <div class="card-header">
                        <h1 class="card-title"> <span style="color: #47419c;">Moderators</span> List</h1>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div *ngIf="this.moderatorsList.length == 0">No moderators have been added.</div>
                            <table datatable class="table" *ngIf="this.moderatorsList.length > 0">
                                <thead class="text-primary">
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Country</th>
                                        <th>Phone number</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let moderator of this.moderatorsList">
                                        <td>{{moderator.firstName | titlecase}} &nbsp;{{ moderator.lastName | titlecase}}</td>
                                        <td>{{moderator.email}}</td>
                                        <td>{{moderator.country | titlecase}}</td>
                                        <td>{{moderator.phoneNumber}}</td>
                                        <td>
                                            <a class="action-buttons" (click)="viewModerator(moderator, viewModeratorModal)"><i class="fas fa-eye"></i></a> &nbsp;&nbsp;
                                            <a class="action-buttons" (click)="editModerator(moderator, addModalForm)"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;
                                            <a class="action-buttons" (click)="deleteModerator(moderator,  confirmDeleteModal)"><i class="fa fa-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addModalForm>
    <div class="modal-body">
        <h5 class="title"> {{currentlyEditingItem === 'new' ? 'Add': 'Edit'}} <span style="color: #47419c;">moderator</span>
            <span class="modal-close-btn" (click)=" this.bsModalRef.hide();"><i class="fa fa-times" aria-hidden="true"></i></span>
        </h5>

        <app-add-edit-moderator [currentlyEditingItem]="currentlyEditingItem"></app-add-edit-moderator>

    </div>
</ng-template>

<ng-template #viewModeratorModal>
    <div class="card">
        <div class="card-header">
            <h5 class="title">{{currentlyEditingItem.firstName}}&nbsp;{{currentlyEditingItem.lastName}}</h5>
        </div>
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="col-md-6 pr-1">
                        <div class="form-group">
                            <label>First Name</label><br>
                            <strong>{{currentlyEditingItem.firstName}}</strong>
                        </div>
                    </div>
                    <div class="col-md-6 pl-1">
                        <div class="form-group">
                            <label>Last Name</label><br>
                            <strong>{{currentlyEditingItem.lastName}}</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label><br>
                            <strong>{{currentlyEditingItem.email}}</strong>
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Phone number</label><br>
                            <strong>{{currentlyEditingItem.phoneNumber}}</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="gender">Gender</label><br>
                            <strong>{{currentlyEditingItem.gender}}</strong>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label>City</label><br>
                            <strong>{{currentlyEditingItem.city}}</strong>
                        </div>
                    </div>
                    <div class="col-md-4 px-1">
                        <div class="form-group">
                            <label>State</label><br>
                            <strong>{{currentlyEditingItem.state}}</strong>
                        </div>
                    </div>
                    <div class="col-md-4 pl-1">
                        <div class="form-group">
                            <label>Country</label><br>
                            <strong>{{currentlyEditingItem.country}}</strong>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-template>

<ng-template #confirmDeleteModal>
    <div class="modal-body">

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h1><i class="fa fa-warning" style="font-size:48px;color:#d9534f;"></i></h1>
                <h1>Remove moderator</h1>
                <h3 style="    font-weight: 200;        ">{{this.currentlyDeletingItem.firstName}}{{this.currentlyDeletingItem.lastName}}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                This action will permanently remove the moderator "{{this.currentlyDeletingItem.firstName}}".
            </div>
        </div><br>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <button class="btn btn-danger" (click)="confirmDelete(true)">Yes, remove moderator</button> &nbsp;
                <button class="btn" (click)="confirmDelete(false)">No, keep moderator</button>
            </div>
        </div>
    </div>
</ng-template>