<div class="login-form-wrapper-container">
    <div class="login-form-wrapper">

        <!-- <p> Welcome</p> -->
        <div class="row logo-wrapper text-center">
            <img src="../../../assets/img/online-astro-logo.png">
            <!-- <h1> Cosmos</h1> -->
        </div>

        <div class="row">
            <div class="col-md-12">
                <ngx-spinner [fullScreen]="false" bdOpacity="1" bdColor="none" size="medium" color="#47419c" type="ball-beat">
                </ngx-spinner>
            </div>
        </div>

        <ng-container *ngIf="this.emailStatus === 'NOT_SENT' || this.emailStatus === 'INVALID'">
            <div class="row">
                <div class="col-md-12 text-center sign-in-text">
                    <h2>Forgot password?</h2>
                    <p>Enter your email address and we will send you a code to reset your password</p>
                </div>
            </div>

            <form class="form-signin">

                <div class="form-group" class="invalid" [hidden]="this.emailStatus !== 'INVALID'">
                    <small class="form-control">Please enter a valid email</small>
                </div>

                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" name="email" [(ngModel)]="email" #emailCtrl="ngModel" class="form-control" placeholder="Email" required autofocus />
                </div>

                <div class="form-group text-center">
                    <button type="submit" (click)="sendCodeToMail()">Reset</button>
                </div>

            </form>
        </ng-container>


        <ng-container *ngIf="this.emailStatus == 'VALID'">
            <ng-container *ngIf="this.otpCodeStatus !== 'VALID'">

                <div class="form-group" class="invalid" *ngIf="this.otpCodeStatus == 'INVALID' || this.otpCodeStatus == 'EXPIRED'">
                    <small class="form-control" *ngIf="this.otpCodeStatus == 'INVALID'"> Please enter a valid code</small>
                    <small class="form-control" *ngIf="this.otpCodeStatus == 'EXPIRED'">Your OTP code has expired!</small>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <p>Enter the OTP code sent to <span style="color: blueviolet;">{{email}}</span></p>

                    </div>
                </div>

                <form>
                    <div class="form-group">
                        <input type="email" name="email" [(ngModel)]="otpCode" #otpCodeCtrl="ngModel" class="form-control text-center" placeholder="OTP Code" required autofocus />
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" (click)="verifyCode()">Continue</button>
                    </div>
                </form>
            </ng-container>

            <ng-container *ngIf="otpCodeStatus == 'VALID'">
                <form [formGroup]="passwordForm" (ngSubmit)="submitNewPassword()">

                    <div class="form-group" class="invalid" *ngIf="submitted && passwordForm.invalid">
                        <small class="form-control" *ngIf="submitted && (passwordForm.get('newPassword').errors?.required || passwordForm.get('confirmPassword').errors?.required)">Fields cannot be empty</small>
                        <small class="form-control" *ngIf="submitted && passwordForm.get('newPassword').errors?.minlength">Password must be at least 8 characters long</small>
                        <small class="form-control" *ngIf="submitted && passwordForm.get('confirmPassword').errors?.mustMatch">Passwords do not match</small>
                    </div>

                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" formControlName="newPassword" class="form-control" [ngClass]="(submitted && (passwordForm.get('newPassword').errors?.minLength || passwordForm.get('newPassword').errors?.required))?'error-in-this':null" placeholder="Password" />
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="(submitted && (passwordForm.get('confirmPassword').errors?.mustMatch || passwordForm.get('confirmPassword').errors?.required ))?'error-in-this':null" placeholder="Confirm Password"
                        />
                    </div>

                    <div class="form-group text-center">
                        <button type="submit">Reset</button>
                    </div>
                </form>
            </ng-container>
        </ng-container>

    </div>
</div>