<div class="sidebar">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
        <a [routerLink]="['./dashboard']" class="simple-text logo-normal text-center">
            <img src="./assets/img/online-astro-logo.png"> COSMOS
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="['./dashboard']">
                    <i class="now-ui-icons business_bank"></i>
                    <p>Homepage</p>
                </a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
                <a [routerLink]="['./manage-astrologers-main']">
                    <i class="now-ui-icons design_app"></i>
                    <p>Astrologers</p>
                </a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
                <a [routerLink]="['./manage-moderators-main']">
                    <i class="now-ui-icons education_atom"></i>
                    <p>Moderators</p>
                </a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="['./settings']">
                    <i class="now-ui-icons loader_gear"></i>
                    <p>Settings</p>
                </a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="['./account']">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>Account</p>
                </a>
            </li>
        </ul>
    </div>
    <!-- <div class="sidebar-wrapper" *ngIf="userRole==='ROLE_MODERATOR'">
        <ul class="nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="['moderators/moderators-task']">
                    <i class="now-ui-icons education_atom"></i>
                    <p>Tasks</p>
                </a>
            </li>
        </ul>
    </div> -->
</div>