.sidenav {
    position: fixed;
    height: 100%;
    background-color: #5a5a5a;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.logo-normal img {
    max-width: 15%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}