.card {
    background: #f8f8fa;
}

.form-inline .form-group {
    padding-right: 2%;
}


/* .form-control {
    background: white;
    width: auto;
    margin: 0 auto;
} */

form {
    margin-bottom: 4%;
}

.save-price-button {
    padding: .5rem .75rem;
    margin: 1.7rem 0rem;
    font-weight: 600;
}

#previous-pricing {
    padding-top: 1%;
}

.table-responsive {
    padding-top: 3%;
}