<div class="container">
    <ngx-spinner [fullScreen]="false" bdOpacity="0.9" bdColor="#929292b5" size="large" color="#fff" type="ball-beat"></ngx-spinner>
    <div class="row page-top-text">
        <div class="col-12 text-right">
            <h2 class="mg-bt-small"><span style="color: #cccccc">Today's Stats</span></h2>
            <h2 class="mg-bt-small"> {{today | date:'fullDate'}}</h2>
        </div>
    </div>

    <div class="row revenue-reports">
        <div class="col-12">
            <div class="row">
                <div class="col-12 page-top-text">
                    <h2> <span style="color: #f3b982;">Revenue</span> Reports</h2>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <h1 style="font-weight: 100; text-transform: uppercase;">All Year Revenue Chart </h1>
                    </div>
                    <div class="card" id="all-year-chart">
                        <div class="card-body">
                            <ng-container *ngIf="this.monthlyRevenueReport.length > 0">
                                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="card db-box" id="daily-revenue">
                        <div class="card-header">
                            <p class="muted-header-footer">Daily Revenue</p>
                        </div>
                        <div class="card-body">
                            <h1>$
                                <span [countUp]=" dashboardReport.dailyRevenue">0</span>
                            </h1>
                        </div>
                        <div class="card-footer">
                            <p>This data is of today's date only.</p>
                        </div>
                    </div>

                    <div class="card db-box" id="monthly-revenue">
                        <div class="card-header">
                            <p class="muted-header-footer">Monthly Revenue</p>
                        </div>
                        <div class="card-body">
                            <h1>$
                                <span [countUp]=" currentMonthRevenue">0</span>
                            </h1>
                        </div>
                        <div class="card-footer">
                            <p>
                                <ng-container *ngIf="this.revenueDiff >= 0">
                                    <span class="rev-inc">{{this.revenueDiff}}%&nbsp;<i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                                    <span> &nbsp;increase in the revenue from last month</span>
                                </ng-container>
                                <ng-container *ngIf="this.revenueDiff < 0">
                                    <span class="rev-dec">{{this.revenueDiff}}%&nbsp;<i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                                    <span>&nbsp;decrease in the revenue from last month</span>
                                </ng-container>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row staff-reports">
        <div class="col-12">

            <div class="row">
                <div class="col-12 page-top-text">
                    <h2> <span style="color: #47419c">Daily Staff</span> Reports</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card db-box" id="ast-task-count">
                        <div class="card-header">
                            <p class="muted-header-footer">Astrologer Report</p>
                        </div>
                        <div class="card-body">
                            <h1>
                                <span [countUp]="dashboardReport.dailyAstrologerWorkCount">0</span>
                                <span class="db-box-icon"><i class="fa fa-sun" aria-hidden="true"></i></span>
                            </h1>
                        </div>
                        <div class="card-footer">
                            <p>questions answered by astrologers</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary" [routerLink]="['../manage-astrologers-main/stats']"><span><i class="fa fa-file" aria-hidden="true"></i></span> &nbsp;View full report</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="card db-box" id="mod-task-count">
                        <div class="card-header">
                            <p class="muted-header-footer">Moderator Report</p>
                        </div>
                        <div class="card-body">
                            <h1>
                                <span [countUp]="dashboardReport.dailyModeratorWorkCount">0</span>
                                <span class="db-box-icon"><i class="fa fa-language" aria-hidden="true"></i></span>
                            </h1>
                        </div>
                        <div class="card-footer">
                            <p>questions translated by moderators</p>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-primary" [routerLink]="['../manage-moderators-main/stats']"><span><i class="fa fa-file" aria-hidden="true"></i></span> &nbsp;View full report</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row question-reports">
        <div class="col-12">
            <div class="row">
                <div class="col-12 page-top-text">
                    <h2> <span style="color: white;">Daily Question </span> Reports</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card db-box" id="question-count">
                        <div class="card-header">
                            <p class="muted-header-footer">Question Count</p>
                        </div>
                        <div class="card-body">
                            <h1>
                                <span [countUp]=" dashboardReport.dailyQuestionCount">0</span>
                                <span class="db-box-icon"><i class="fa fa-check text-right" aria-hidden="true"></i></span>
                            </h1>
                        </div>
                        <div class="card-footer">
                            <p>total question(s) were answered</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card db-box" id="unclear-question-count">
                        <div class="card-header">
                            <p class="muted-header-footer">Unclear Questions</p>
                        </div>
                        <div class="card-body">
                            <h1>
                                <span [countUp]="dashboardReport.dailyUnclearQuestionCount">0</span>
                                <span class="db-box-icon"><i class="fa fa-question" aria-hidden="true"></i></span>
                            </h1>
                        </div>
                        <div class="card-footer">
                            <p>question(s) are still unclear</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="card db-box" id="free-question-count">
                        <div class="card-header">
                            <p class="muted-header-footer">Free Questions</p>
                        </div>
                        <div class="card-body">
                            <h1>
                                <span [countUp]="dashboardReport.dailyFreeQuestionCount">0</span>
                                <span class="db-box-icon"><i class='fas fa-ticket-alt'></i></span>
                            </h1>
                        </div>
                        <div class="card-footer">
                            <p>question(s) are free</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>