<div class="container">

    <div class="content">
        <ngx-spinner [fullScreen]="false" bdOpacity="1" bdColor="none" size="large" color="#ffffff" type="ball-atom">
        </ngx-spinner>
        <div class="row text-center" [hidden]="moderatorsTaskModel!==null">
            <div class="col-md-12">
                <div class="no-task-assigned-div">
                    <h3 [hidden]="moderatorsTaskModel!==null || this.taskError!==null">You have no new tasks assigned to you, yet.</h3>
                    <h3 [hidden]="this.taskError==null">{{this.taskError}}</h3>
                    <div [hidden]="moderatorsTaskModel!==null" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <button class="btn btn-primary" (click)="  getCurrentJob() ">Get new task</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ng-container *ngIf="moderatorsTaskModel!==null">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="card-header text-center">
                                    <h4 class="card-title">
                                        <span style="color: #f3b982;">Chat </span> History
                                    </h4>
                                </div>
                                <div class="card-body chat-box-history-container ">
                                    <div *ngFor="let questionAnswerHistoryOne of moderatorsTaskModel.questionAnswerHistoryList; index as i">
                                        <div class="row chat-box-user-wrapper">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="chat-box-user">
                                                    <p class="chat-text">{{questionAnswerHistoryOne.engQuestion}}
                                                    </p>
                                                    <p>
                                                        <span class="chat-box-details">{{questionAnswerHistoryOne.createdAt | date}} &nbsp;</span>
                                                        <span class="chat-box-details padding-none" *ngIf="questionAnswerHistoryOne.status == 'Clear'"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
                                                        <span class="chat-box-details padding-none" *ngIf="questionAnswerHistoryOne.status == 'Unclear'"><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
                                                        <span class="chat-box-details padding-none" *ngIf="questionAnswerHistoryOne.status == 'Assigned'"><i class="fa fa-clock" aria-hidden="true"></i></span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                        <div class="col-md-12 text-left">
                                            <a class="see-translation"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div> -->
                                        <div class="row chat-box-user-reply-wrapper" [hidden]="!questionAnswerHistoryOne.englishAnswer">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="chat-box-user-reply" cdkDrag>
                                                    <p class="chat-text">{{questionAnswerHistoryOne.englishAnswer?.engReply}}</p>
                                                    <p class="chat-box-details padding-none text-right mg-tb-1" *ngIf="questionAnswerHistoryOne.status == 'Clear'">{{questionAnswerHistoryOne.translatedEngQuestion.translatedBy}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="row">
                                        <div class="col-md-12 text-right">
                                            <a class="see-translation"><i class="fa fa-eye"></i></a>
                                        </div>
                                    </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card no-margin-bottom-res">
                                        <div class="card-header text-center">
                                            <h4 class="card-title">
                                                <span style="color: #f3b982;"> {{moderatorsTaskModel.userDetails.firstName}}</span>&nbsp;{{moderatorsTaskModel.userDetails.lastName}}
                                            </h4>
                                        </div>
                                        <div class="card-body">
                                            <div class="row user-details">
                                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                    <div>
                                                        <!-- <p>
                                                            <span class="user-details-icon"><i class="fa fa-envelope-open"
                                                                        aria-hidden="true"></i></span>
                                                            <span class="user-details-title">Email:</span> {{moderatorsTaskModel.userDetails.email}}
                                                        </p>

                                                        <p>
                                                            <span class="user-details-icon"><i class="fa fa-phone"
                                                                        aria-hidden="true"></i></span>
                                                            <span class="user-details-title"> Phone:</span> {{moderatorsTaskModel.userDetails.phoneNumber}}
                                                        </p> -->

                                                        <p><span class="user-details-icon"><i class="fa fa-mars-stroke" aria-hidden="true"></i></span>
                                                            <span class="user-details-title">Gender:</span> {{moderatorsTaskModel.userDetails.gender}}
                                                        </p>

                                                        <p><span class="user-details-icon"><i class="fa fa-location-arrow"
                                                                        aria-hidden="true"></i></span>
                                                            <span class="user-details-title">Address:</span> {{moderatorsTaskModel.userDetails.city}},{{moderatorsTaskModel.userDetails.state}},{{moderatorsTaskModel.userDetails.country}}
                                                        </p>

                                                        <p><span class="user-details-icon"><i class="fa fa-calendar-plus"
                                                                        aria-hidden="true"></i></span>
                                                            <span class="user-details-title">Date of birth:</span> {{moderatorsTaskModel.userDetails.dateOfBirth | date : 'medium'}}
                                                        </p>

                                                        <p><span class="user-details-icon"><i class="fa fa-clock"
                                                                        aria-hidden="true"></i></span>
                                                            <span class="user-details-title">Time of birth:</span> {{moderatorsTaskModel.userDetails.birthTime}}
                                                            <span class="user-details-icon" [ngClass]="moderatorsTaskModel.userDetails.accurateTime == true? 'cl-green':'cl-red'">
                                                                <i class="fa fa-check" *ngIf="moderatorsTaskModel.userDetails.accurateTime" aria-hidden="true"></i>
                                                                <i class="fa fa-times" *ngIf="!moderatorsTaskModel.userDetails.accurateTime" aria-hidden="true"></i>
                                                                {{moderatorsTaskModel.userDetails.accurateTime==true?'Accurate time':'Not accurate time'}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-center">
                                                    <img *ngIf="moderatorsTaskModel.userDetails.profileImageUrl !== null" [src]="moderatorsTaskModel.userDetails.profileImageUrl" />
                                                    <img *ngIf="moderatorsTaskModel.userDetails.profileImageUrl == null" src="./assets/img/user-logo.png" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card qa-wrapper">
                                        <div class="card-header">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                                    <h4 class="card-title text-center" *ngIf="moderatorsTaskModel.currentJob.currentJobType == 'nepali-answer'">
                                                        <p class="qa-icons"> <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp; Translate to English</p>
                                                    </h4>
                                                    <h4 class="card-title text-center" *ngIf="moderatorsTaskModel.currentJob.currentJobType == 'english-question'">
                                                        <p class="qa-icons"> <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp; Translate to Nepali</p>
                                                    </h4>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                                                    <button class="btn btn-secondary" (click)="markThisQuestionAsUnclear()" [hidden]="moderatorsTaskModel.currentJob.currentJobType == 'nepali-answer'"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Mark {{this.taskObject.questionUnclear ? 'clear': 'unclear'}}</button>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                    <p class="question-for-reply-or-translation" *ngIf="moderatorsTaskModel.currentJob.currentJobType == 'nepali-answer'">{{moderatorsTaskModel.currentJob.nepaliAnswer.answer}}</p>

                                                    <p class="question-for-reply-or-translation" *ngIf="moderatorsTaskModel.currentJob.currentJobType == 'english-question'">{{moderatorsTaskModel.currentJob.englishQuestion.engQuestion}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">

                                            <div [hidden]="taskObject.questionUnclear">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                        <textarea class="answer" [(ngModel)]="this.taskObject.translation" #taskObjectTranslation="ngModel"></textarea>
                                                        <button class="btn btn-primary answer-submit-button " [disabled]="!validForTranslationSubmit" (click)="submitThisQuestion()"><i class="fa fa-paper-plane"></i>&nbsp;Submit</button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div [hidden]="!taskObject.questionUnclear">
                                                <strong>Give a small description that will facilitate the user in making the question
                                                            clearer.</strong><br>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                                        <textarea class="answer" [(ngModel)]="this.taskObject.descriptionForUnclear" #taskObjectDescriptionForUnclear="ngModel" placeholder="The question is too vague to answer. Please be a little more specific about it so we can properly answer your queries."></textarea>
                                                        <button class="btn btn-primary answer-submit-button" (click)="submitUnclearQuestionWithDescription()"><i class="fa fa-paper-plane"></i>&nbsp;Send to
                                                                    user</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

    </div>
</div>

<!-- <ng-template #modalForm>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="this.bsModalRef.hide();">
                              Close
                            </button>
    </div>
</ng-template> -->
